<div class="page">
  <header role="banner">
    {{ page.header }}
  </header>
  {{ page.primary_menu }}
  {{ page.highlighted }}
  <main role="main">
    <a id="main-content" tabindex="-1"></a>
    {{ page.content}}
  </main>
{#    {% if page.footer %}#}
  <footer role="contentinfo">
        {{ page.footer }}
    <div class="copyright-site">portalshop.local &copy; {{ 'now'|date("Y") }}</div>
  </footer>
{#  {% endif %}#}
</div>
